<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<div class="sidebar">

    <div class="logo">
        <i class="fa-solid fa-graduation-cap"></i>
        <span>EduManager</span>
    </div>

    <a href="/dashboard">
        <i class="fa-solid fa-table-columns"></i>
        Dashboard
    </a>

    <a href="/add">
        <i class="fa-solid fa-user-plus"></i>
        Add Student
    </a>

    <a href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
    </a>

</div>

<div class="main-content">

    <div class="topbar">
        <h2>Student Management System</h2>
    </div>

    {% block content %}
    {% endblock %}

</div>

</body>
</html>